In [74]:
import faker
import datetime
import random
fake = faker.Faker()
from os.path import exists
from os import remove

In [75]:
# Database variables
# How much fake data you wish to produce

#  
# Change the value of num_researchers based on the total researchers of the project
#
num_researchers = 100

#
# Change the value of num_projects based on the projects you wish to produce
#
num_projects = 50

#
# Change the value of num_organisations based on the organisations of the database
#
num_organisations = 10

#
# Number of executives of the database
#
num_execs = 10

#
# Number of programs that fund projects
#
num_progs = 15

#
# Number of programs that fund projects
#
num_scifi = 50

###############
#File to write#
###############
if exists("/mnt/c/Users/User/Desktop/insertions.sql"):
    os.remove("/mnt/c/Users/User/Desktop/insertions.sql")
f = open("/mnt/c/Users/User/Desktop/insertions.sql", "a")
f.write("USE `Elidek`;\n\n")

15

In [76]:
# RESEARCHERS
f.write("-- INSERT RESEARCHER ROWS\n\n")

# The list of researchers, useful for future use
res_info = {key:{key_in: None for key_in in ['id','date_of_birth']} for key in range(1,num_researchers + 1)}

''' RESEARCHER QUERIES'''
for k in range(1,num_researchers+1):
    gender = random.choice(["M", "F"])
    first_name = fake.first_name_male() if gender == 'M' else fake.first_name_female()
    last_name = fake.last_name()
    date_of_birth = fake.date_of_birth(minimum_age = 18, maximum_age = 67)
    res_info[k]['id'] = k
    res_info[k]['date_of_birth'] = date_of_birth
    
    f.write("INSERT INTO Researchers (`name`, `last_name`, `gender`, `Date_of_Birth`)\nValues('"+ first_name+"','"+last_name+"','"+gender+"','"+str(date_of_birth)+"');\n")
f.write("\n\n")

2

In [77]:
# SCIENTIFIC FIELDS
f.write("-- INSERT SCIENTIFIC FIELDS ROWS\n\n")

# List of scientific fields
sci_fi_fields = ["Arts", "Mathematics", "Computer Science", "Medicine", "Physics", "Telecommunications", "Chemistry", "Architecture", "Mechanical Engineering", "Electrical Engineering", "Metallyrgy", "Mining Engineering"]
for name in sci_fi_fields:
    f.write("INSERT INTO Scientific_Fields (`Name`)\nValues('"+name+"');\n")
f.write("\n\n")

2

In [78]:
# PROGRAMS
f.write("-- INSERT PROGRAMS ROWS\n\n")

for k in range(1,num_progs+1):
    prog_name = "The" + fake.catch_phrase() + "Fund"
    Department = random.choice(["School of Civil Engineering","School of Mechanical Engineering","School of Electrical & Computer Engineering","School of Architecture","School of Chemical Engineering","School of Rural, Surveying and Geoinformatics Engineering","School of Mining & Metallurgical Engineering","School of Naval Architecture & Marine Engineering","School of Applied Mathematics & Physical Sciences"]) 
    f.write("INSERT INTO Programs (`Name`,`Department`)\nValues('"+prog_name+"','"+Department+"');\n")
f.write("\n\n")

2

In [79]:
# EXECUTIVES
f.write("-- INSERT EXECUTIVES ROWS\n\n")

for k in range(1,num_execs+1):
    gender = random.choice(["M", "F"])
    first_name = fake.first_name_male() if gender == 'M' else fake.first_name_female()
    last_name = fake.last_name()
    f.write("INSERT INTO Executives (`First_name`,`Last_name`)\nValues('"+first_name+"','"+last_name+"');\n")
f.write("\n\n")

2

In [80]:
# ORGANISATION
f.write("-- INSERT ORGANISATION ROWS\n\n")
orgs = []
def fake_phone_number(fakeobj) -> str:
    return f'+30 {fakeobj.msisdn()[3:]}'

for tel,k in zip(range(1,num_organisations+1),range(1,num_organisations+1)):
    org_type = random.choice(["University", "Company", "Research Centre"])
    street = str(fake.street_name())
    street_num = str(random.randint(1,999))
    postal = str(fake.postalcode())
    city = str(fake.city())
    funding = 10000000
    phone = fake_phone_number(fake)
    if (org_type == "University"):
        name = "University of "+ city
        abbr = ''.join(map(str, [s[0] for s in name.upper().split()]))
        f.write("INSERT INTO Organization (`Org_id`,`Name`,`Abbreviation`,`Address_Street`,`Address_Street_Number`,`Address_Postal_Code`, `Address_City`)\nValues("+str(k)+",'"+name+"','"+abbr+"','"+street+"',"+street_num+","+postal+",'"+city+"');\n")
        f.write("INSERT INTO University (`Org_id`,`Ministry_funding`)\nValues("+str(k)+","+str(funding)+");\n")
        
    elif (org_type == "Company"):
        name = str(fake.company())
        abbr = ''.join(map(str, [s[0] for s in name.upper().split()]))
        f.write("INSERT INTO Organization (`Name`,`Abbreviation`,`Address_Street`,`Address_Street_Number`,`Address_Postal_Code`, `Address_City`)\nValues('"+name+"','"+abbr+"','"+street+"',"+street_num+","+postal+",'"+city+"');\n")
        f.write("INSERT INTO Corporation (`org_id`,`Equity_Capital`)\nValues("+str(k)+","+str(funding)+");\n")
    else:
        name = "Institute of " + str(fake.company())
        abbr = ''.join(map(str, [s[0] for s in name.upper().split()[:-1]]))
        priv_sec = random.randint(1,10) * 0.1 * funding
        pub_sec = funding - priv_sec
        f.write("INSERT INTO Organization (`Name`,`Abbreviation`,`Address_Street`,`Address_Street_Number`,`Address_Postal_Code`, `Address_City`)\nValues('"+name+"','"+abbr+"','"+street+"',"+street_num+","+postal+",'"+city+"');\n")
        f.write("INSERT INTO Research_Center (`org_id`,`Ministry_funding`,`Private_Sector_funding`)\nValues("+str(k)+","+str(pub_sec)+","+str(priv_sec)+");\n")
    f.write("INSERT INTO Organization_Phone_Number (`No_id`,`t_org_id`,`Org_Phone_number`)\nValues("+str(tel)+","+str(k)+",'"+phone+"');\n")
f.write("\n\n")

2

In [81]:
# PROJECTS
f.write("-- INSERT PROJECT ROWS\n\n")


# The dict of projects, useful for future use
projects = {key:{key_in: None for key_in in ['title','proj_start','proj_end','org_mgmt','exec_id','prog_id','sci_supervisor']} for key in range(1,num_projects + 1)}

for k in range(1,num_projects+1):
    title = fake.catch_phrase()
    summary = fake.text(max_nb_chars=500)
    funding = random.randrange(100000, 1000001)
    proj_start = fake.date_between(start_date='-4y', end_date='today')
    duration = random.choice(["1","2"])
    proj_end = fake.date_between(proj_start.replace(year = proj_start.year + 1), end_date = "+" + duration +"y")
    org_mgmt = random.choice(range(1, num_organisations + 1))
    exec_id = random.choice(range(1, num_execs + 1))
    prog_id = random.choice(range(1, num_progs + 1))
    sci_supervisor = random.choice(range(1, num_researchers + 1))
    projects[k]['title'] = title
    projects[k]['proj_start'] = proj_start
    projects[k]['proj_end'] = proj_end
    projects[k]['funding'] = funding
    projects[k]['org_mgmt'] = org_mgmt
    projects[k]['exec_id'] = exec_id
    projects[k]['prog_id'] = prog_id
    projects[k]['sci_supervisor'] = sci_supervisor
    f.write("INSERT INTO Projects (`Title`, `Summary`, `Funding`, `Starting_Date`, `Ending_Date`, `org_mgmt`, `exec_id`, `prog_id`, `sci_supervisor` )\nValues('"+ title +"','"+summary+"',"+str(funding)+",'"+str(proj_start)+"','"+str(proj_end)+"',"+str(org_mgmt)+","+str(exec_id)+","+str(prog_id)+","+str(sci_supervisor)+");\n")
f.write("\n\n")

2

In [82]:
# Deliverables
f.write("-- INSERT DELIVERABLES ROWS\n\n")

for k in range(1,num_projects+1):
    total_dels = random.randint(10,35)
    wp_no = 1
    wp_divider = random.randint(1,total_dels)
    for j in range(total_dels):
        if ((j + 1) % wp_divider) == 0:
            wp_divider = random.randint(1,total_dels)
            wp_no = wp_no + 1
        dName = "D."+str(wp_no)+"."+str((j + 1) % wp_divider)
        date = str(fake.date_between(projects[k]['proj_start'],projects[k]['proj_end']))
        f.write("INSERT INTO Deliverable_Projects (`Project_id`,`title`,`Summary`,`Date_of_Delivery`)\nValues("+str(k)+",'"+dName+"','"+summary+"','"+date+"');\n")
f.write("\n\n")

2

In [83]:
# EVALUATION
f.write("-- INSERT EVALUATION ROWS\n\n")

for k in range(1,num_projects+1):
    researcher_id = str(random.randint(1,num_researchers))
    start = projects[k]['proj_start']
    date = str(fake.date_between_dates(start - datetime.timedelta(days = 2 * 365.24),start))
    rating = str(random.randint(5,10))
    f.write("INSERT INTO Evaluation (`Evaluation_id`,`Project_id`,`Researcher_id`,`Grade`,`Date_of_Evaluation`)\nValues("+str(1)+","+str(k)+","+researcher_id+","+rating+",'"+date+"');\n")
f.write("\n\n")

2

In [84]:
# WORKS_FOR
f.write("-- INSERT WORKS FOR ROWS\n\n")


for reasercher in range(1,num_researchers+1):
    org_id = random.choice(range(1,num_organisations+1))
    date_joined = str(fake.date_between_dates(res_info[reasercher]['date_of_birth'] + datetime.timedelta(days = 18 * 365.25) , datetime.datetime.today()))
    f.write("INSERT INTO Works_for (`org_id`,`Researcher_id`,`Start_date`)\nValues("+str(org_id)+","+str(res_info[reasercher]['id'])+",'"+date_joined+"');\n")
f.write("\n\n")

2

In [85]:
# wORKS_in_proj

for researcher in range(1,num_researchers+1):
    proj_id = random.choice(range(1,num_projects+1))
    f.write("INSERT INTO works_in_proj (`proj_id`,`Researcher_id`)\nValues("+str(proj_id)+","+str(researcher)+");\n")

In [86]:
# SCIENTIFIC FIELDS OF PROJECT

for project in (range(1,num_projects + 1)):
    mem = []
    for num_scis in range(1,random.randint(2,4)):
        sci_id = random.choice(range(1,len(sci_fi_fields)+1))
        while (sci_id in mem):
            sci_id = random.choice(range(1,len(sci_fi_fields)+1))
        f.write("INSERT INTO Scientific_Fields_of_Project (`sci_id`,`Project_id`)\nValues("+str(sci_id)+","+str(project)+");\n")
        mem.append(sci_id)
        
            
f.close()